---
import Base from '../layouts/Base.astro';
---

<Base title="vals.quest">
  <h1>Jonathan / Tutor Vals</h1>
  <p><em>In a permanent state of unpolished draft.</em></p>

  <section>
    <h2>Some background bio</h2>
    <p>Born in southern France from two british parents, grew up in the countryside, on a farm, with 2 older brothers, 1 older sister.</p>
    <p>Went to engineering school, where I spent a lot of time learning amazing hobbies, eg. film, improv theatre, couple dance, improv music, event logistics, photography, esports, video game development (I still really like design).</p>
    <p>Lived in Toulouse, Barcelona, London, Paris.</p>
  </section>

  <section>
    <h2>Now (2024-2026)</h2>
    <p>I make money teaching AI Safety and through other AI Safety work.</p>
    <p>I default live in Paris (eg. half of the year) and frequently visit Amsterdam, Berlin, London, Toulouse, US west coast (SF and Portland/Seattle).</p>
    <p>I work part time so otherwise travel to hang out with people, solve impractical and practical problems (how to be happy, how to live well, how to accomplish yourself, how to fix a door).</p>
  </section>

  <section>
    <h2>The pitch</h2>
    <blockquote>
      "a very smart mathy person who has also done a lot of meditation and life coaching"
    </blockquote>
    <p>On my self evaluation I feel like that's too kind on all points, but it's a great description because it captures things that stand out about me. I'm not very knowledgeable math wise, (probably only equivalent of 3 years of graduate study), nor meditation wise (100 to 200h?), nor do I have 10 years of pro coaching experience. But I think these are all good vectors to understand me! I like for some things to be precise (legibility &#8800; precision, ie. an ambiguous complex poem can yet be precise).</p>
    <p>I am surprisingly good at many things (eg. got top 1% in many games in many genres).</p>
  </section>

  <section>
    <h2>Explore</h2>
    <ul>
      <li><a href="/activities">Activity menu</a> &mdash; things I like doing</li>
      <li><a href="/conversations">Conversation menu</a> &mdash; things I like talking about</li>
      <li><a href="/manifesto">2026 Manifesto</a> &mdash; current visions</li>
      <li><a href="/rpg">Roleplay games</a> &mdash; systems I GM</li>
    </ul>
  </section>
</Base>
