---
import Base from '../layouts/Base.astro';
---

<Base title="2026 Manifesto - vals.quest">
  <h1>Vals 2026 Jan-March Manifesto</h1>

  <section>
    <h2>Some visions for myself</h2>
    <ul>
      <li><strong>Wandering enchanter</strong>
        <ul>
          <li>Go in person meet people, provide/contribute to their environment/structure</li>
          <li>Freely give</li>
          <li>Be open to receiving donations/contributions to live off of</li>
        </ul>
      </li>
      <li><strong>Still developing self understanding</strong>
        <ul>
          <li>Balancing in person and online</li>
        </ul>
      </li>
      <li><strong>Developing the online</strong>
        <ul>
          <li>Eg. 1 day/week, or 2 half day office hours</li>
          <li>Community meetings online?</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>Concretely where am I called to?</h2>
    <ul>
      <li><strong>SF/Berkeley, bay area</strong>
        <ul>
          <li>Meet all the people, understand who can be better, enable betterment</li>
        </ul>
      </li>
    </ul>
  </section>
</Base>
